<h2 class="title">Catálogo de productos</h2>
<ul class = "itemcompra">
  <h3 class="subtitle">Productos en el catálogo</h3>
  <li *ngFor="let itemcompra of itemsCompra" class="card">
    <div *ngIf="itemcompra.visibilidad==true">
      <div (click)="selectedProduct(itemcompra)" class="card" routerLink = "/catalogoA/">
        <img src="{{itemcompra.imagenUrl}}" alt="Imagen no disponible" width="100px" height="100px">
        <div class="container">
          <div *ngIf="itemcompra.producto">
            <h4><b>{{itemcompra.producto.nombre}}</b></h4>
            <p>Precio: {{itemcompra.producto.precio}} COP</p>
            <p>Cantidad en Stock: {{itemcompra.producto.cantidad}}</p>
            <!--<label>Nuevo precio:</label>
            <input type="number" #nprice>
            <button (click)="updatePrice({{itemCompra.producto.id}}, nprice.value)">Actualizar precio/button-->
            <button (click)="remove(itemcompra)">Quitar del catálogo</button>
          </div>
        </div>
      </div>
    </div>
  </li>
  <br>
  <h3 class="subtitle">Productos fuera del catálogo</h3>
  <li *ngFor="let itemcompra of itemsCompra" class="card">
    <div *ngIf="itemcompra.visibilidad==false">
      <div (click)="selectedProduct(itemcompra)" class="card" routerLink = "/catalogoA/">
        <img src="{{itemcompra.imagenUrl}}" alt="Imagen no disponible" width="100px" height="100px">
        <div class="container">
          <div *ngIf="itemcompra.producto">
            <h4><b>{{itemcompra.producto.nombre}}</b></h4>
            <p>Precio: {{itemcompra.producto.precio}} COP</p>
            <p>Cantidad en Stock: {{itemcompra.producto.cantidad}}</p>
            <!--label>Nuevo precio:</label>
            <input type="number" #nprice>
            <button (click)="updatePrice({{itemCompra.producto.id}}, nprice.value)">Actualizar precio/button-->
            <button (click)="add(itemcompra)">Añadir al catálogo</button>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
