<div *ngIf="!icSeleccionado">
  <h2>Catalogo</h2>
  <ul class = "itemcompra">
    <li *ngFor="let itemcompra of itemsCompra">
      <div *ngIf="itemcompra.visibilidad==true">
        <div (click)="selectedProduct(itemcompra)" class="card" routerLink = "/catalogo/">
          <img src="{{itemcompra.imagenUrl}}" alt="Imagen no disponible" width="300" height="300">
          <div class="container">
            <div *ngIf="itemcompra.producto">
              <h4><b>{{itemcompra.producto.nombre}}</b></h4>
              <p>Precio: {{itemcompra.producto.precio}} COP</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="icSeleccionado">
  <Button (click)="unselect()">Volver al catalogo</Button>
  <h2>{{icSeleccionado.producto.nombre}}</h2>
  <img src="{{icSeleccionado.imagenUrl}}" alt="Imagen no disponible" width="500" height="500">
  <p>Precio: {{icSeleccionado.producto.precio}} COP</p>
</div>
