<div *ngIf="!icSeleccionado" class="catalogo">
  <Button  class="button ver-carrito" routerLink = "/carrito">Ver Carrito</Button>
  <h2 class="tittle">Catalogo de productos</h2>
  <ul class = "itemcompra">
    <li *ngFor="let itemcompra of itemsCompra" class="card">
      <div *ngIf="itemcompra.visibilidad==true">
        <div (click)="selectedProduct(itemcompra)" class="card" routerLink = "/catalogo/">
          <img src="{{itemcompra.imagenUrl}}" alt="Imagen no disponible" width="100px" height="100px">
          <div class="container">
            <div *ngIf="itemcompra.producto">
              <h4><b>{{itemcompra.producto.nombre}}</b></h4>
              <p>Precio: {{itemcompra.producto.precio}} COP</p>
              <p>Cantidades disponibles: {{ itemcompra.producto.cantidad }} Unidades</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="icSeleccionado">
  <Button  class="button" (click)="unselect()">Volver al catalogo</Button>
  <h2 class="tittle">Producto Seleccionado</h2>
  <div class="center">
    <h2 class="tittle">{{icSeleccionado.producto.nombre}}</h2>
    <img class="image" src="{{icSeleccionado.imagenUrl}}" alt="Imagen no disponible">
    <p>Precio: {{icSeleccionado.producto.precio}} COP</p>
    <p>Cantidad Seleccionada:  {{ cantidadSeleccionada }}<p>
    <!--
    <input class="input" type="number"  [(ngModel)]="cantidad">
    -->
    <button (click)="cantidad_up()" class="btn btn-primary">+</button>
    <button (click)="cantidad_down()" class="btn btn-primary ml-1">-</button>
    <p>Subtotal: {{ subTotal }} COP</p>
    <p>disponibilidad: {{ disponibilidad }}</p>
    <span *ngIf="disponibilidad < 3"    class="badge badge-danger">agotandose+</span>
    <button class="button agregar-carrito" (click)="addToCart(icSeleccionado.id)">Agregar a Carrito</button>
  </div>
</div>
