.example-card {
  height: 100%;
  text-align: center ;
  padding-top: 40px;
  box-shadow: none;
}


.card-image {
  height: 280px;
  width: 34%;
}

.sumary {
  padding: 27px 7px;
  text-align: justify;
  font-size: medium;
}

.card-content {
  margin: 5% 4%;
  display: flex;
}
