.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.example-card {
  height: 100%;
  text-align: center ;
  padding-top: 40px;
  box-shadow: none;
}

.card-ext {
  margin: 10px 26%;
}

.card-content-schedule {
  padding: 10% 10%;
  display: grid;
  text-align: left;
}

.input-hour{
  border-radius: 4px 4px 0 0;
  padding: 0.75em 0.75em 0 0.75em;
  box-sizing: border-box;
  width: 100%;
  font-size: unset;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  height: 59px;
  border: none;
  background-color: rgba(0,0,0,.02);
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.btn-schedule {
  width: 30%;
}

.form-field {
  font-size: medium;
}

.result-text {
  color: navy;
  text-align: left;
  font-size: large;
  padding-top: 54px;
}

table {
  width: 80%;
}

th.mat-header-cell {
  text-align: center !important;
  font-size: large;
}

.content-table {
  justify-content: center;
  display: flex;
  padding-top: 28px;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.date-div {
  width: 50%;
}

.inp-date {
  width: -webkit-fill-available !important;
}
