.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.example-card {
  height: 100%;
  text-align: center ;
  padding-top: 40px;
  box-shadow: none;
}

.card-content {
  padding: 30px 30px;
}

.form-field {
  font-size: medium;
}

.result-text {
  color: navy;
  text-align: left;
  font-size: large;
  padding-top: 54px;
}

table {
  width: 80%;
}

th.mat-header-cell {
  text-align: center !important;
  font-size: large;
}

.content-table {
  justify-content: center;
  display: flex;
  padding-top: 28px;
}
