<mat-card class="example-card">
  <mat-card class="card-ext">
    <mat-card-title class="title">Agenda el Servicio</mat-card-title>
    <mat-card-content class="card-content-schedule">

      <div class="date-container">
        <div class="date-div">
          <mat-label> <b>Fecha:</b></mat-label><br/>
          <mat-form-field style="display: block" appearance="fill" class="form-field">
            <mat-label>Ingresa una fecha</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" disabled [(ngModel)]="selectDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

        <div style="width: 47%">
          <mat-label> <b>Hora:</b></mat-label><br/>
          <input class="input-hour" placeholder="Ingresa una Hora"
                 [ngxTimepicker]="min" [min]="'07:00 am'" [max]="'05:00 pm'" readonly [(ngModel)]="selectHour">
          <ngx-material-timepicker #min [minutesGap]="20"></ngx-material-timepicker>
        </div>
      </div>

      <mat-label> <b>Correo Electrónico:</b></mat-label><br/>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su correo</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br/>
      <br/>
      <button class="btn-schedule" mat-raised-button  (click)="goToQuery()" id="btn-query">Reservar</button>


    </mat-card-content>
  </mat-card>
</mat-card>


