.button-continue {
  margin: 5%;
}

.ppal-container{
  padding: 5% 7% 7% 7%;
}

.ppal-tittle {
  text-align: center;
}

.internal-container {
  padding: 9%;
}

.input-pay{
  width: 90%;
}

.secondary-tittle {
  font-size: 16px;
}
