<div class="container ppal-container">
  <h2 class="tittle" style="text-align: center">Enviaremos tu compra a:</h2>
  <div class="container internal-container">
    <label class="secondary-tittle">Ingresa tu dirección de domicilio</label>
    <div class="row">
      <div class="col-sm-6">
        <input class="form-control-lg input-lg input-pay" id="city" type="text" placeholder="Ciudad">
      </div>
      <div class="col-sm-6">
        <input class="form-control-lg input-lg input-pay" id="address" type="text" placeholder="Dirección">
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-success mb-4 btn-lg pl-5 pr-5 button-continue" (click)="goToSelectDate()">Continuar</button>
    </div>
  </div>
</div>
