<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Carrito de Compra</h3>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:60%">Producto</th>
                            <th style="width:12%">Precio</th>
                            <th style="width:10%">Cantidad</th>
                            <th style="width:16%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemcarrito of itemsCarrito">
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                        <img src={{itemcarrito.imagenUrl}} alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                    </div>
                                    <div class="col-md-9 text-left mt-sm-2">
                                        <h4>{{itemcarrito.producto.nombre}}</h4>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">{{itemcarrito.producto.precio}}</td>
                            <td data-th="Quantity">
                                {{itemcarrito.cantidad}}
                            </td>
                            <td>
                                <button type="button" name="remove_product" class="btn btn-danger btn-xs" (click)="delToCart(itemcarrito.item_compra_id)">Eliminar</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div class="float-right text-right">
                    <h4>Subtotal:</h4>
                    <h1>{{precioTotal}}</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="catalogo">
                    <i class="fas fa-arrow-left mr-2"></i> Continuar comprando</a>
            </div>
        </div>
    </div>
</section>