.ppal-container{
  padding: 7%;
}

.internal-container {
  padding: 5%;
}

.secondary-tittle {
  font-size: 17px;
}

.pay-method-container {
  padding-left: 25%;
  padding-top: 2%;
  font-size: 16px;
}

.button-continue {
  margin: 3%;
}

.card-row{
  padding: 5% 13% 5% 13%;
}

.inp-card {
  width: 85%;
}
