.int-container {
  padding: 5%;
}

.ppal-container{
  padding: 7%;
}

.button-time {
  text-align: center;
  /* margin: 5%; */
  padding: 10%;
}

.ppal-tittle {
  text-align: center;
}

.secondary-tittle {
  font-size: 16px;
}

.margin-buttons {
  margin: 5%;
}

.time-container {
  padding-top: 5%;
}

/*
!** normal style **!
.btn{
    background: #ccc;
}

!** on active **!

.btn:focus{
    background: red;
}
*/
