.example-card {
  height: 100%;
  text-align: center ;
  padding-top: 20px;
  box-shadow: none;
}


.card-image {
  height: 280px;
  width: 480px;
}

.card-image-header {
  height: 60%;
  border-radius: 25px;
  width: 100%;
}

.sumary {
  padding: 27px 7px;
  text-align: justify;
  font-size: medium;
}

.quote {
  font-style: italic;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 30px;
}

.title {
  font-size: 34px;
}

.card-content-home {
  margin: 4% 2%;
}
