
<mat-card class="example-card">
  <mat-card-title class="title">Reporting App</mat-card-title>
  <mat-card-content class="card-content">
    <p class="sumary">
      Reporting App es una aplicación que permite la visualización de los reportes planteados para cada uno de los
      talleres realizados dentro de la asignatura MINE4102 - Análisis de información sobre Big Data.
    </p>
    <img mat-card-image class="card-image" src="../../../../assets/data-reporting-and-analysis.png" >

  </mat-card-content>
</mat-card>
