

<mat-card class="example-card">
  <img class="card-image-header" src="../../../../assets/fondo.png" >

  <mat-card-content class="card-content-home">
    <p class="quote">
      La mejor solución para servicios de latonería y pintura de su vehículo sin salir de la comodidad de tu hogar.
    </p>

    <div style="display: flex; gap: 10px;">
      <img class="card-image" src="../../../../assets/A veces quisiera irme de puente.png" >
      <img class="card-image" src="../../../../assets/15181497_1140160312699461_2295504874745078619_n.png" >
      <img class="card-image" src="../../../../assets/CUANDO LE DESCUBRES AL CARRO.png" >
    </div>
  </mat-card-content>
</mat-card>


