<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" color="white">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Whats Car</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened role="navigation">
    <mat-nav-list>
      <mat-list-item (click)="redirect('/home')"><mat-icon>home</mat-icon>Inicio</mat-list-item>
      <mat-list-item (click)="redirect('/schedule')"><mat-icon>today</mat-icon>Agendar Cita</mat-list-item>
      <mat-list-item (click)="redirect('/home')"><mat-icon>contact_phone</mat-icon>Contáctenos</mat-list-item>
      <mat-list-item (click)="redirect('/faq')"><mat-icon>contact_support</mat-icon>Preguntas Frecuentes</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
